body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background: linear-gradient(135deg, #ffdd00, #00cb07); 
    color: #ffffff;
    padding: 1rem 0;
    text-align: center;
}

.minha-foto {
    display: block;
    margin: 0 auto 20px;
    width: 180px;
    height: 200px;
    border: 3px solid #333;
    margin-bottom: 50px; 
    opacity: 0; 
    transform: translateY(50px); 
    transition: transform 0.5s ease, opacity 0.5s ease; 
}


body.loaded .minha-foto {
    opacity: 2; 
    transform: translateY(0); 
}


.minha-foto:hover {
    transform: scale(1.05);
    border-color: #ffffff; 
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

header nav ul li a:hover {
    background-color: #ffdd00; 
    color: #000; 
    transform: scale(1.1); 
}

section {
    padding: 2rem;
    margin: 2rem 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2, h3 {
    color: #000000;
}

footer {
    text-align: center;
    padding: 1rem;
    background: linear-gradient(135deg, #ffdd00, #00cb07); 
    color: #fff;
}

.logo {
    width: 20px;
    height: 20px;
}

.botton {
    background-color: #00cb07; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.botton:hover {
    background-color: #ffdd00; 
    color: #000; 
    transform: scale(1.1); 
}
